main {
  width: 100%;
  height: calc(100% - 90px);
  overflow-y: scroll;
  .wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 80%;
    margin: 0 auto;
    .album {
      width: 18%;
      margin: 30px;
      padding: 20px 10px 30px;
      background-color: #070707;
      text-align: center;
      color: white;
      img {
        width: 90%;
      }
    }
  }
}
